*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 { color: #1db954; }
  
  .song {
    background: #1e1e1e;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .song button {
    background: #1db954;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .song button:hover { background: #1ed760; }
  
  audio {
    margin-top: 30px;
    width: 80%;
    max-width: 600px;
  }